{% extends 'template.html.twig' %}

{% block title %}Section index{% endblock %}

{% block banner %}
    <br><br>
<div class="text-center my-5">
    <h3 class="text-center mt-5">Section Index</h3>
    <ul>
        <li><a href="{{ path('admin_section_new') }}">Create new</a></li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Section_title</th>
                <th>Section_slug</th>
                <th>Section_detail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.sectionTitle }}</td>
                <td>{{ section.sectionSlug }}</td>
                <td>{{ section.sectionDetail }}</td>
                <td>
                    <a href="{{ path('admin_section_show', {'id': section.id}) }}">show</a>
                    <a href="{{ path('admin_section_edit', {'id': section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
