{% extends 'public_article/index.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}
    <div class="py-4"></div>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class=" col-lg-9   mb-5 mb-lg-0">
                    <article>
                        {% set rand = random(1, 10) %}
                        {% set firstImage = 'images/post/post-' ~ rand ~ '.jpg' %}
                        {% set rand = random(1, 10) %}
                        {% set secondImage = 'images/post/post-' ~ rand ~ '.jpg' %}
                        <div class="post-slider">
                            <img src="{{ asset(firstImage) }}" class="card-img-top" alt="post-thumb">
                            <img src="{{ asset(secondImage) }}" class="card-img-top" alt="post-thumb">
                        </div>

                        <h2 class="h2">{{ article.title }}</h2>
                        <ul class="card-meta my-3 list-inline">
                            <li class="list-inline-item">
                                <a href="{{ path('public_article_author', {id: article.user.id}) }}" class="card-meta-author">
                                    {% set imgSrc = article.user.imgLoc starts with 'http' ? article.user.imgLoc : asset(article.user.imgLoc) %}
                                    <img src="{{ imgSrc }}">
                                    <span>{{ article.user.fullname }}</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-timer"></i>2 Min To Read
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i>{{ article.articleDatePosted ? article.articleDatePosted|date('F j, Y') : '' }}
                            </li>
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    {% for section in article.sections %}
                                    <li class="list-inline-item"><a href="{{ path('public_article_section', {slug: section.sectionSlug}) }}">{{ section.sectionTitle }}</a></li>
                                    {% endfor %}

                                </ul>
                            </li>
                        </ul>
                        <div class="content"><p>{{ article.text }}</div>
                    </article>

                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="mb-5 border-top mt-4 pt-5">
                        <h3 class="mb-4">Comments</h3>
                        {% if article.comments|length == 0 %}
                        <p>There are no comments for this article</p>
                            {% else %}
                             {% for comment in article.comments %}
                        <div class="media d-block d-sm-flex mb-4 pb-4">
                            <a class="d-inline-block mr-2 mb-3 mb-md-0" href="#" title="{{ comment.commentUsername }}">
                                {% set imgSrc = comment.user.imgLoc starts with 'http' ? comment.user.imgLoc : asset(comment.user.imgLoc) %}
                                <img src="{{ imgSrc }}" class="mr-3 rounded-circle" alt="">
                            </a>
                            <div class="media-body">
                                <a href="#!" class="h4 d-inline-block mb-3">{{ comment.commentUsername }}</a>

                                <p>{{ comment.commentText }}</p>

                                <span class="text-black-800 mr-3 font-weight-600">{{ comment.commentDateCreated | date("F j, Y") }}</span>
                            </div>
                        </div>
                                {% endfor %}
                        {% endif %}


                        <!-- Keep this link in case I dedide to add sub-comments !!!
                        <div class="media d-block d-sm-flex">
                            <div class="d-inline-block mr-2 mb-3 mb-md-0" href="#">

                         {#        <img class="mr-3" src="{{ asset('images/post/arrow.png') }}" alt="">     #}
                         {#       <a href="#!"><img src="{{ asset('images/post/user-02.jpg') }}" class="mr-3 rounded-circle" alt=""></a>        #}
                            </div>
                            <div class="media-body">
                                <a href="#!" class="h4 d-inline-block mb-3">Nadia Sultana Tisa</a>

                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

                                <span class="text-black-800 mr-3 font-weight-600">April 18, 2020 at 6.25 pm</span>
                                <a class="text-primary font-weight-600" href="#!">Reply</a>
                            </div>
                        </div>
                        -->

                    </div>

                    <div>

                        <form method="POST">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Leave a Comment</label>
                                    <textarea class="form-control shadow-none" id="comment" rows="7" required {% if not is_granted('IS_AUTHENTICATED') %}disabled{% endif %}></textarea>
                                </div>

                            </div>
                            <button class="btn btn-primary" {% if not is_granted('IS_AUTHENTICATED') %}disabled{% endif %} type="submit">
                                {% if not is_granted('IS_AUTHENTICATED') %}
                                    <a href="{{ path('app_login') }}" class="text-white">Log in to Comment</a>
                                {% else %}
                                Comment Now
                                {% endif %}
                            </button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
